model: srgan
num_epochs: 50
dataset: cyclegan
optimizer: Adam
root_dataset: ./data/cyclegan
train_subsets: ['apple2orange']
val_subsets: ['']
test_subset: ['']
device: cpu
batch_size: 8
save_dir: 'small_data'
num_workers: 2
ith_pool: 5
jth_cnv: 4
adversarial_weight: 0.001
width_image: 96
height_image: 96
upscaled_factor: 4